.header {
	width: 100%;
	height: var(--navbar-height);
	background-color: var(--bg-second);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
}
.nav {
}
.nav__link {
	padding: 0 20px 0 0;
}
